[submodule "plugins/git-emacs"]
	path = plugins/git-emacs
	url = https://github.com/tsgates/git-emacs.git
[submodule "plugins/org-mode"]
	path = plugins/org-mode
	url = git://orgmode.org/org-mode.git
